Options +FollowSymLinks
Options -Indexes
IndexIgnore */*
# Turn on the RewriteEngine
RewriteEngine On
#  Rules
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} \/.+\/

RewriteRule ^/?img/(.*)$ _spacefox/views/assets/css/$1 [L]
RewriteRule ^/?js/(.*)$ _spacefox/views/assets/js/$1 [L]
RewriteRule ^/?css/(.*)$ _spacefox/views/assets/css/$1 [L]

RewriteRule ^/?sf-install _spacefox/install.php [L]

RewriteCond %{REQUEST_URI} !^.*\.(jpg|css|js|gif|png)$ [NC]

RedirectMatch 404 ^.*/_spacefox/(?!views/assets)(.*)$
RewriteRule ^(.*)$ index.php [L]